<div class="login-container" *ngIf="loginForm">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label for="username">Username:</label>
    <input type="text" id="username" formControlName="username" />
    <div *ngIf="loginForm.get('username')?.hasError('required')">
      Username is required!
    </div>

    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" />
    <div *ngIf="loginForm.get('password')?.hasError('required')">
      Password is required!
    </div>

    <button type="submit">Login</button>

  </form>
</div>
